# Common
numpy
pandas
yfinance
fastapi
uvicorn
python-dotenv
requests
lxml
schedule
html5lib
beautifulsoup4
line-bot-sdk
ib_insync
nest_asyncio
matplotlib
scipy
watchfiles
watchdog
diagrams
tradingview-ta
pandas_ta
python-multipart
# ta-lib # 需要手動安裝系統依賴 brew install ta-lib